#container {
  width: 80;
  margin: 1em auto;
  border: solid black;
  padding: 1em;
}

header {
  text-align:center;
  margin-bottom: -2em;
}

#images {
  width:80%;
  margin: 0 auto;
}

img {
  height: 80vh;
}

#container {
  width: 80;
  margin: 1em auto;
  border: solid black;
  padding: 1em;
}

header {
  text-align:center;
  margin-bottom: -2em;
}

#images {
  width:80%;
  margin: 0 auto;
}

img {
  height: 80vh;
}


body {
  background-color: white;
}

#container {
  width: 80%;
  margin: 1em auto;
  border: solid navy;
}

header {
  text-align: center;
}

#gallery {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  flex-wrap: wrap;
}



#gallery img {
transition: all 3s;
}

.box {
  position: relative;
  top: 0;
  left: 0;
  background-color: steelblue;
  width: 200px;
  height: 200px;
  animation: animate1 5s forwards ease-in-out;
}


.animate {
  animation-name: changeColour;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes changeColour {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.animate2 {
  animation-name: restoreColour;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


@keyframes restoreColour {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

